/* Navigation */
#nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: purple;
}

ul li {
  list-style: none;
  justify-content: space-evenly;
}

#nav a {
  text-decoration: none;
  float: left;
  width: 25%;
  text-align: center;
}

#nav a,
a:visited,
a:active,
a:link {
  color: inherit;
  text-decoration: none;
}

#nav a:hover,
a:hover {
  color: #49fd01;
}

/* body */
body {
  margin-top: 30px;
}

body,
button {
  background: #1b365d;
  font-family: "Silkscreen", cursive;
  color: #f2c75c;
}

button {
  color: white;
  border-radius: 10px;
  background-color: purple;
}
.removeButton {
  background-color: red;
}

.editButton {
  background-color: purple;
}

section {
  margin: 2px;
  padding: 2px;
}

h1,
h2 {
  color: #f2c75c;
}

h1 {
  text-align: center;
  margin: 10px;
  margin-left: 40px;
  background-color: #4e73a6;
  border-radius: 10px;
  padding: 10px;
}

h2 {
  background-color: purple;
}

#about p,
#skills ul li,
#projects ul li {
  margin: 10px;
  background-color: #4e73a6;
  border-radius: 10px;
  padding: 10px;
}

#skills ul li {
  text-align: center;
}

#about p {
  padding-inline-start: 40px;
  margin-left: 40px;
}

#messages ul li {
  padding-left: 50px;
  position: relative;
  margin: 10px;
  background-color: #4e73a6;
  border-radius: 10px;
  padding: 10px;
}

#messages li a:link {
  color: #49fd01;
}

#messages li a:hover {
  text-decoration: underline;
}

footer {
  background-color: purple;
  padding: 2px 0px;
}

footer a {
  float: right;
  padding-top: 10px;
}

#contact {
  float: right;
}

#experience ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #4e73a6;
  border-radius: 10px;
  padding: 10px;
}

#messages ul,
#skills ul,
#projects ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#projects ul li {
  list-style-type: circle;
}

input,
textarea {
  width: 500px;
  height: 25px;
}

@media screen and (max-width: 768px) {
  #experience ul li {
    flex-direction: column;
    justify-content: space-between;
  }

  #projects ul {
    display: inline-block;
  }

  input,
  textarea {
    width: 100%;
    height: 25px;
  }
}
