/* Light theme */
:root {
  --text-color: #f2c75c;
  --background-color: #1b365d;
  --background-banner: #4e73a6;
  --nav-color: purple;
  --remove-button: red;
}

/* Dark theme */
[data-theme="dark"] {
  --text-color: white;
  --background-color: black;
  --background-banner: gray;
  --nav-color: rgb(64, 64, 64);
  --remove-button: black;
}

/* Navigation */
#nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--nav-color);
}

ul li {
  list-style: none;
  justify-content: space-evenly;
}

#nav a {
  text-decoration: none;
  float: left;
  width: 25%;
  text-align: center;
}

#nav a,
a:visited,
a:active,
a:link {
  color: inherit;
  text-decoration: none;
}

#nav a:hover,
a:hover {
  color: #49fd01;
}

/* body */
body {
  margin-top: 30px;
}

body,
button {
  background: var(--background-color);
  font-family: "Silkscreen", cursive;
  color: var(--text-color);
}

button {
  color: white;
  border-radius: 10px;
  background-color: var(--nav-color);
}
.removeButton {
  background-color: var(--remove-button);
}

.editButton {
  background-color: var(--nav-color);
}

section {
  margin: 2px;
  padding: 2px;
}

h1,
h2 {
  color: var(--text-color);
}

h1 {
  text-align: center;
  margin: 10px;
  margin-left: 40px;
  background-color: var(--background-banner);
  border-radius: 10px;
  padding: 10px;
}

h2 {
  background-color: var(--nav-color);
}

#about p,
#skills ul li,
#projects ul li {
  margin: 10px;
  background-color: var(--background-banner);
  border-radius: 10px;
  padding: 10px;
}

#skills ul li {
  text-align: center;
}

#about p {
  padding-inline-start: 40px;
  margin-left: 40px;
}

#messages ul li {
  padding-left: 50px;
  position: relative;
  margin: 10px;
  background-color: var(--background-banner);
  border-radius: 10px;
  padding: 10px;
}

#messages li a:link {
  color: #49fd01;
}

#messages li a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--nav-color);
  padding: 2px 0px;
}

footer a {
  float: right;
  padding-top: 10px;
}

#contact {
  float: right;
}

#experience ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: var(--background-banner);
  border-radius: 10px;
  padding: 10px;
}

#messages ul,
#skills ul,
#projects ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#projects ul li {
  list-style-type: circle;
}

input,
textarea {
  width: 500px;
  height: 25px;
}

/* dark mode switch */
.switch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.theme {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 50px;
}
.theme input {
  display: none;
}
.slider.circle {
  border-radius: 30px;
}
.slider {
  background: #49fd01;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.slider.circle:before {
  border-radius: 50px;
}
.slider:before {
  background: black;
  bottom: 4px;
  content: "";
  height: 18px;
  left: 4px;
  position: absolute;
  transition: 0.5s;
  width: 18px;
}
em {
  margin-left: 10px;
  font-size: 0.8rem;
}
input:checked + .slider {
  background: var(--text-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

@media screen and (max-width: 768px) {
  #experience ul li {
    flex-direction: column;
    justify-content: space-between;
  }

  #projects ul {
    display: inline-block;
  }

  input,
  textarea {
    width: 100%;
    height: 25px;
  }
}
